name: Build and deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  analyse:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      
      - name: Set up JDK 11
        uses: actions/setup-java@v5.0.0
        with:  
          java-version: '11'  
          distribution: 'temurin'

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Run detekt
        run: ./gradlew detekt
        
      - name: Run tests
        run: ./gradlew test --stacktrace
        
  deploy:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: analyse
    environment:
      name: 'Production'
    
    steps:
      - uses: actions/checkout@v6
      
      - name: Set up JDK 11
        uses: actions/setup-java@v5.0.0
        with:  
          java-version: '11'  
          distribution: 'temurin'
      
      - name: Compile telegram bot  
        run: ./gradlew :modules:telegram-bot:assemble
        
      - name: Deploy telegram bot
        uses: mdallasanta/ssh-scp-deploy@main
        with:  
          local: modules/telegram-bot/build/libs/*.jar
          remote: ~/  
          host: ${{ secrets.SSH_HOST }}
          user: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          pre_upload: bash ~/destroy.sh
          post_upload: bash ~/up.sh
    
